html, body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: black;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 2.7vmin;
  color: rgb(230, 205, 222);
  user-select: none;

}

scene {
  width: 1280px;
  height: 720px;
  display: inline-block;
  position: absolute;
}

canvas {
  width: 100%;
  height: 100%;
}

#buttonDL{
  position: absolute;
  top: 0;
  right: 0;
}

.choicesCSSClass[open] {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.choicesCSSClass[open] button{
  width: 80%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgb(236, 187, 25);
  border-radius: 10px;
  color: rgb(236, 187, 25);
  font-size: 2.7vmin;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}

/***** SPLASH SCREEN *****/
dialog[type="splash"] {
  /* background-image: url("Images/Backgrounds/starry.gif"); */
  background-repeat: repeat;
  /* background-size: contain; */
  width: 100%;
  height: 100%;
}

dialog[type=splash]>img#FudgeStoryLogo {
  width: 100%;
}

#ausleihbutton button{
  position: absolute;
  bottom: 50%;
  right: 70%;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgb(236, 187, 25);
  border-radius: 10px;
  color: rgb(236, 187, 25);
  font-size: 2.7vmin;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}
.hidden{
  display: none;
}

/***** SPEECH, CONTENT, NAMES *****/
speech {
  position: absolute;
  background-image: url(Images/Textbox/textbox.png);
  /* bottom: 0px;
  left: 0px;
  color: beige;
  background-color: rgba(28, 94, 85, 0.9);
  width: 100%;
  height: 28%; */
  background-size: 100%;
  background-repeat: no-repeat;
  bottom: 0;
  left: 7%;
  height: 30%;
  width: 80%;
  color: #333333;
}

speech content {
  color: rgb(0, 0, 0);
  font-size: 28.6px;
  position: absolute;
  display: block;
  height: 20%;
  width: 75%;
  top: 41%;
  left: 11%;
}

name {
  display: block;
  position: absolute;
  padding: 2px;
  color: rgb(0, 0, 0);
  top: 32px;
  left: 270px;
  font-size: 32px;
  font-weight: 600;
}

/**** MENU ****/
.gameMenuCSSClass {
  position: absolute;
  bottom: 20%;
  background-color: #0000;
  border: none;
  left: 23%;
}

.gameMenuCSSClass button{
  background-color: #0000;
  border: none;
  margin: 0 25px 0 25px;
  color: rgb(236, 187, 25);
  font-size: larger;
}

/***  CREDITS ***/
dialog.flip{
  background-color: rgb(236, 187, 25, 0.5);
  border: solid 3px rgb(236, 187, 25, 0.5);
  border-radius: 10px;
  color: white;
  position: absolute;
  left: 72.5%;
  width: 5%;
  top: 43%;
  margin: 0;
}
dialog.flip button{
  background-color: rgb(236, 187, 25, 0.5);
  border: none;
  color: white;
  margin: 1% 0;
  width: 100%;
  padding: 3%;
  font-size: large;
}

dialog.flip button#back::before{
  content: "<< ";
  color: white;
}
dialog.flip button#next::after{
  content: " >>";
  color: white;
}

.credits{
  background-color: rgb(236, 187, 25, 0.5);;
  border: solid 3px rgb(236, 187, 25, 0.5);
  color: white;
  font-size: larger;
  width: 41%;
  border-radius: 10px;
}
.credits b{
  color: white;
  font-size: xx-large;
}
.credits i{
  color: white;
  font-size: x-large;
}

/***** METER BAR *****/
#scoreForSho {
  position: absolute;
  bottom: 20%;
  width: 3%;
  left: 30px;
  color: black;
  background-color: rgb(236, 187, 25);
}

meter[id="shoMeter"]{
  position: absolute;
  transform:rotate(-90deg);
  bottom: 50%;
  left: -14%;
  width: 35%;
  height: 10%;
}

meter[id="shoMeter"]::-webkit-meter-optimum-value {
    background-color: rgb(236, 187, 25);
  /* background-color: #719fd1; */
}

/*** INVENTORY ***/
dialog[type="inventory"] {
  color: black;
  width: 50%;
  border: none;
  border: 2px solid rgb(236, 187, 25);
  background-color: rgb(236, 187, 25, 0.5);
  border-radius: 25px;
  /* top: -80%; */
}

dialog[type="inventory"] > ul > li {
  padding-left: 20px;
  display: grid;
  grid-template-columns: 25% 10% 35% 25%;
  grid-template-rows: 100px;
  max-height: 10vh;
  list-style-type: none;
  margin-bottom: 10px;
  font-size: 1.7vmin;
  align-items: center;
  background-color:rgb(236, 187, 25);
}

dialog[type="inventory"] > ul > li:hover {
  /* background-color: rgb(36, 24, 165); */
  color: white;
}

dialog[type="inventory"] > ul > li > img { 
  width: 65%;
  margin-left: 40px;
  margin-top: 0;
  position: relative;
}
dialog[type="inventory"] name { 
  margin: 0;
  font-size: 1.7vmin;
  font-weight: 600;
  color: black;
  text-align: left;
  margin-left: 0;
  position: relative;
  bottom: 30%;
  left: 10%;
  width: 15%;
  height: 80%;
}

dialog[type="inventory"] > button { 
  background-color: rgb(236, 187, 25); 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
}