html, body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: black;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 2.7vmin;
  color: rgb(230, 205, 222);
  user-select: none;
}

scene {
  width: 1280px;
  height: 720px;
  display: inline-block;
  position: absolute;
}

canvas {
  width: 100%;
  height: 100%;
}

#buttonDL{
  position: absolute;
  top: 0;
  right: 0;
}

/***** SPLASH SCREEN *****/
dialog[type="splash"] {
  /* background-image: url("Images/Backgrounds/starry.gif"); */
  background-repeat: repeat;
  /* background-size: contain; */
  width: 100%;
  height: 100%;
}

dialog[type=splash]>img#FudgeStoryLogo {
  width: 100%;
}

#ausleihbutton{
  position: absolute;
  bottom: 50%;
  right: 50%;
}
#ausleihbutton.hidden{
  display: none;
}

/***** SPEECH, CONTENT, NAMES *****/
speech {
  position: absolute;
  background-image: url(Images/Textbox/textbox.png);
  /* bottom: 0px;
  left: 0px;
  color: beige;
  background-color: rgba(28, 94, 85, 0.9);
  width: 100%;
  height: 28%; */
  background-size: 100%;
  background-repeat: no-repeat;
  bottom: 0;
  left: 7%;
  height: 30%;
  width: 80%;
  color: #333333;
}

speech content {
  color: rgb(0, 0, 0);
  font-size: 28.6px;
  position: absolute;
  display: block;
  height: 20%;
  width: 75%;
  top: 41%;
  left: 11%;
}

name {
  display: block;
  position: absolute;
  padding: 2px;
  color: rgb(0, 0, 0);
  top: 32px;
  left: 270px;
  font-size: 32px;
  font-weight: 600;
}

/***** METER BAR *****/
/* meter::-webkit-meter-bar {
  background-color: #cacacad5;
  width: 100%;
  height: 70%;
} */

#scoreForSho {
  position: absolute;
  bottom: 20%;
  width: 3%;
  left: 23px;
}

meter[id="shoMeter"]{
  position: absolute;
  transform:rotate(-90deg);
  bottom: 50%;
  left: -14%;
  width: 35%;
  height: 10%;
}

meter[id="shoMeter"]::-webkit-meter-optimum-value {
  background-image: linear-gradient(
    90deg, 
    #533cd6 100%, 
    
  );
  /* background-color: #719fd1; */
}